#principal-admin {
	
	font-size: 3em;
	color: #910e56;
	text-align: center;
	margin-top: 5%;
	padding-bottom: 5%;
	font-family: 'OptimaRegular';

}

.header-admin {
	
	background-image: url('/img/fondoUCP.jpg');
	min-height: 34vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}

#principal-role {
	
	font-size: 3em;
	color: #910e56;
	text-align: center;
	margin-top: 5%;
	padding-bottom: 2%;
	font-family: 'OptimaRegular';

}