.comfortaa {
	
	font-family: 'Comfortaa', cursive;
}

.cookie {
	
	font-family: 'Cookie', cursive;
}

.lobster {
	
	font-family: 'Lobster', cursive;
}

#condensed {
	
	font-family: 'Open Sans Condensed', sans-serif;
}

.sans {
	
	font-family: 'Open Sans', sans-serif;
}

.optimal {
	
	  font-family: 'Optima LT W01 Medium';

}
