.alert {
	

	display: none;
}

.navbar-top-links {
    margin-right: 4%;
}


.alertify-button {
	
	margin-right: 50%;
}

.alertify-button-cancel {
	
	margin-right: 70%;
	margin-top: 0%;
	padding: 6px 15px;

}

#tips {
	
	 top: 50px;
	
}

#user {

 left: 5%;
 top: 50px;


}

#carrera_list{
	
	width: 400px;
}

#semestre_list{
	
	width: 400px;
}

#materia_list{
	
	width: 400px;
}

#role_list{
	
	width: 400px;
}

div#listaP {
	
	top: 50px;
	left: 20%;
}

div#admForo {
	
	top: 50px;
	left: 10%;
}

div#adminPlan {
	
	top: 50px;
	left: 10%;
}

div#listPersonal{
	
	top: 50px;
	left: 15%;
}

div#reportes{
	
	top: 50px;
	left: 15%;
}

div#admRole {
	
	top: 50px;
	left: 10%;
}

div#listTutAlm {
	
	top: 50px;
	left: 20%;
}

div#tutoriales {
	
	top: 50px;
	left: 20%;
}

div#prflistTuto {
	
	top: 50px;
	left: 20%;
}

div#listTut {
	
	top: 50px;
	left: 20%;

}

div#listRub {
	
	top: 50px;
	left: 20%;
}

div#vizuaUnidad{
	
	top: 50px;
	left: 20%;
	max-width: 50%;

}


div#VunidadE{
	
	top: 50px;
	left: 20%;
	max-width: 50%;
}

div#listUnidades{
	
	top: 50px;
	left: 15%;
}

div#alumnosListUser{
	
	top: 50px;
	left: 15%;
}

div#Almact{
	
	top: 50px;
	left: 20%;
}

div#AlmUni{
	
	top: 50px;
	left: 20%;
}

div#listSubtemas{
	
	top: 50px;
	left: 20%;
}

div#createVideos{
	
	top: 50px;
	left: 20%;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 200px;
}

#act {
	
	left: 5%;
 	top: 50px;

}

#recomendaciones {
	
	right: 3%;
}

.validation {
	
	font-family: "Courier New", Courier, monospace;
	font: small-caption; 
	font-size: 80%;
	color: red;
}

.val {
	
	font-family: "Courier New", Courier, monospace;
	font: small-caption; 
	font-size: 80%;
	color: red;
}

div#listAct {
	
	top: 50px;
	left: 20%;
}

div#notasRubricas {
	
	top: 50px;
	left: 20%;

}

div#planeacionC {
	
	top: 50px;
	left: 7%;

}



#examen {
	
	left: 5%;
 	top: 50px;

}

#pregunta {
	
	left: 5%;
 	top: 50px;

}


.examen {
	
	list-style:none;
}

div#listExamen {
	
	top: 50px;
	left: 20%;
}

div#preguntasEx {
	
	top: 50px;
	left: 20%;
}

div#calAct {
	
	top: 50px;
	left: 10%;

}











