.parrafo-showadmin {
		
		color: #848484;
		font-size: 1.5em;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 15%;
}

#principal-admin{
	
	font-size: 3em;
	color: #910e56;
	text-align: center;
}

.lista-roles {
	
	color: #848484;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	margin-left: 10%;
}

.img-show {
	
	margin-top: 13%;
}

#parrafo-show {
	
	margin-left: 10%;
	margin-bottom: 7%;

}
